body{
    background-color: aliceblue;
}
h4{
    color: rgb(0, 0, 22);
    font-weight: bold;
}
h3{
    color: rgb(3, 94, 3);
    font-weight: bolder;
}
td{
    text-align: center;
    font-weight: inherit;
}
p{
    width: 60%;
    height: 100%;
    font-family: serif;
}